* {
    font-family: "Josefin Sans";
}

/* GIRO DAS CARTAS */

.flip-container {
    perspective: 1000px;
    width: 20%;
    margin-right: -15%;
    margin-bottom: 25%;

    img {
        width: 90%;
    }
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

/* SEPARAÇÃO */

body {
    background-color: #223043;
}

::placeholder {
    color: #FFF;
}

button {

    img {
        width: 80%;
    }
}

.dados {
    background-color: #1D1D1D;
    margin-left: 1%;
    border-radius: 15px;
    color: #FFF;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 13vw;
    text-align: center;

    #imagem_usuario {
        display: flex;
        align-items: center;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .div_texto {
        margin-left: 20%;
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 30px;
    }
}

.jogador {
    position: fixed;
    left: 45%;
    bottom: 17%;
    display: flex;
    width: 700px;

    /* img {
        width: 20%;
        margin-right: -15%;
    } */
}

.banca {
    display: flex;
    position: fixed;
    top: 20vh;
    width: 100vw;
    justify-content: center;

    .caixa {
        display: flex;
        justify-content: space-evenly;

        img {
            width: 7vw;
        }
    }
}

img {
    width: 100px;
}

.div_buttons {
    background-color: #1D1D1D;
    width: 13vw;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .container_fichas {
        display: flex;
        justify-content: space-around;
        height: 60vh;

        .fichas {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .valor_fichas {
            display: flex;
            flex-direction: column;
            color: #FFF;
            font-size: 25px;
            height: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    img {
        cursor: pointer;
        transition: 0.8s;
    }

    img:hover {
        transform: scale(1.05);
    }

    .input {
        width: 80%;
        height: 7%;
        font-size: 30px;
        color: #1D1D1D;
        background-color: #B0CDDA;
        border-radius: 15px;
        border: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        font-weight: bold;
        width: 80%;
        height: 7%;
        font-size: 15px;
        color: #FFF;
        background-color: #EE675C;
        border: transparent;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.8s;
    }

    button:hover {
        background-color: #FFF;
        color: #000;
    }
}

.total_soma {
    position: fixed;
    left: 39%;
    bottom: 10%;
    color: #FFF;
    font-size: 30px;
    width: 20%;
    height: 5%;
    text-align: center;
}

.tres_barras {
    position: fixed;
    top: 15px;
    left: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    width: 5vw;

    i {
        font-size: 25px;
        color: white;
    }
}