* {
    font-family: "Josefin Sans";
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: flex;
    background-color: #1D1D1D;
}

::-webkit-scrollbar-thumb {
    background-color: #D1D1D1;
    border-radius: 15px;
}


body {
    background-color: rgba(34, 45, 67, 1);
    color: white;
    line-height: 1.6;
    padding: 50px 50px 0 50px;
    overflow-x: hidden;
    position: relative;
}

i[name="icon"] {
    position: absolute;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.2);
    animation: float 10s infinite ease-in-out;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

header {
    background-color: rgba(34, 45, 67, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1% auto;
    z-index: 5;

    i {
        position:absolute;
        font-size: 20px;
        color: white;
    }

    #star1 {
        top: 60%;
        left: 15px;
        transform: rotate(190deg);
    }

    #star2 {
        top: 20%;
        right: 15px;
    }

    a {
        width: 20%;
        text-decoration: none;
        color: white;
        text-align: center;
        transition: 0.2s;
        outline: none;
        font-size: 20px;
    }

    a:hover {
        transform: scale(1.15);
    }

    #title {
        font-size: 30px;
    }
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    background-image: url(../Assets/cartas3.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 100%;
    height: 85vh;
    display: flex;

    div {
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        text-align: justify;

        h1 {
            padding-top: 50px;
            font-size: 100px;
            color: #B0CDDA;
            margin-bottom: -80px;
        }

        h2 {
            font-size: 60px;
            color: #EE675C;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
            padding-bottom: 50px;
            border-bottom: solid white 2px;
        }
    }
}


section {
    margin-bottom: 40px;
}

.games {
    text-align: center;


    p {
        font-size: 20px;
    }

    div {
        background-color: rgba(45, 56, 78, 0.8);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        gap: 50px;

        img {
            width: 200px;
            height: 80%;
            border-radius: 25px;
            transition: 0.8s;
        }

        #sete {
            border: solid #EE675C 8px;
        }

        #blackjack {
            border: solid #B0CDDA 8px;
        }

        #genius {
            border: solid #7FBF60 8px;
        }

        #campoMinado {
            border: solid #F8D571 8px;
        }

        #termo {
            border: solid #A990D6 8px;
        }

        img:hover {
            transform: scale(1.05);
        }
    }
}

.tech,
.author,
.motivation {
    background-color: rgba(45, 56, 78, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.author,
.tech {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 60%;

        #motivacao {
            margin-top: 40px;
        }
    }

    img {
        width: 20%;
        border-radius: 15px;
        filter: brightness(1.2) sepia(0.0) contrast(1.3);
    }

    i {
        color: white;
        margin-right: 50px;
        font-size: 150px;
    }
}

.contribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

    div {
        display: flex;
        justify-content: space-evenly;
        width: 30%;

        i {
            font-size: 50px;
            color: white;
            transition: 0.2s ease;
        }

        i:hover {
            font-size: 55px;
        }
    }
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #CCC;
}