* {
    font-family: "Josefin Sans";
}

body {
    background-color: rgba(34, 45, 67, 1);
}

h1 {
    font-size: 60px;
    color: #FFF;
}

.jogos {
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80vw;

    img {
        width: 300px;
        height: 80%;
        border-radius: 25px;
        transition: 0.8s;
    }

    #sete {
        border: solid #EE675C 8px;
    }

    #blackjack {
        border: solid #B0CDDA 8px;
    }

    #genius {
        border: solid #7FBF60 8px;
    }

    #campoMinado {
        border: solid #F8D571 8px;
    }

    img:hover {
        transform: scale(1.05);
    }
}

.tres_barras {
    position: fixed;
    top: 15px;
    left: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    width: 5vw;

    img {
        width: 50%;
    }
}