* {
    font-family: "Josefin Sans";
}

i[name="icon"] {
    position: absolute;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.2);
    animation: float 10s infinite ease-in-out;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #1D1D1D;
    display: flex;
}

.div_container {
    background-color: #B0CDDA;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        color: white;
        font-weight: 800;
        font-size: 50px;
        margin-bottom: 0;
    }

    button {
        background-color: #FFF;
        width: 200px;
        height: 150%;
        border-radius: 15px;
        transition: 0.8s;
        cursor: pointer;
        font-size: 18px;
    }

    button:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
    }
}

.nome {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    display: flex;
    flex-direction: column;

    p {
        margin-block: 10px;
        border-bottom: solid #B0CDDA 2px;
    }
}