* {
    font-family: "Josefin Sans";
}

body {
    background-color: rgba(34, 45, 67, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 350px;
    height: 400px;

    .linha {
        display: flex;
        justify-content: space-evenly;

        .caixa {
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            color: white;
            width: 58px;
            height: 58px;
            text-align: center;
            font-size: 30px;
            outline: none;
            border: none;
            cursor: default;
            text-transform: uppercase;
        }
    }
}

.teclado {
    .linhaTeclado {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 20px auto;

        button {
            padding: 15px 20px;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: rgba(0, 0, 0, 0.5);
            color: #F1F1F1;
            border-radius: 4px;
        }

        .special {
            margin-left: 30px;
        }
    }
    #linhaTeclado1 {
        padding-right: 60px;
    }
}

.tres_barras {
    position: fixed;
    top: 15px;
    left: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    width: 5vw;

    i {
        font-size: 25px;
        color: white;
    }
}